<!doctype html>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Max Kramer</title>
<meta name="description" content="Max Kramer's Face">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- CSS -->
<link rel="stylesheet" href="../static/style.css">
<!-- favicon -->
<link rel="shortcut icon" href="../static/favicon.ico">

<body>

	<div id="content">

		<div class="header">
			<img class="center" src="http://www.gravatar.com/avatar/10fd2cb97870c0918e2635e864c7698d.png?v=2&amp;s=200" width="100" height="100" alt="">
			<div class="stripe"></div>
		</div>

		<h1>hi, i'm max.</h1>

		<p>i'm experimenting with responsive web design</p>

		<p>and its effects on my face.</p>

		<p>stay tuned for more</p>

		<p>face, that is.</p>

	</div>

</body>