<!doctype html>

<link rel="stylesheet" href="../static/style.css">
<link rel="shortcut icon" href="../static/favicon.ico">

<title>Max Kramer</title>

<meta name="description" content="Max Kramer's Face">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<body>

	<div id="content">

		<img class="center" src="http://www.gravatar.com/avatar/10fd2cb97870c0918e2635e864c7698d.png?v=2&amp;s=200" width="100" height="100" alt="">

		<h1>hi, i'm max.</h1>

		<p>i'm experimenting with responsive web design</p>

		<p>and its effects on my face.</p>

		<p>stay tuned for more</p>

		<p>face, that is.</p>

	</div>

</body>